@use 'sass:math';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

html{
    width: fit-content;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Louis George Cafe', sans-serif;
font-size: $font_size;
scroll-behavior: smooth;
}

body {
padding: 0;
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
color: unset;
text-decoration: none;
}

.container{
    padding:$padding*0.7 $padding * 3;
}
.container-small{
    padding:$padding*0.7 $padding * 1.5;
}
.card{
    box-shadow: 0px 10px 20px rgba(214, 214, 214, 0.4);
}
.btn{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    &:focus{
        outline: none;
    }
}
.bg-fb{
    background-color:#3A559F;
    color: white;
}
.bg-twitter{
    background-color:#50ABF1;
    color: white; 
}
.bg-whatsapp{
    background-color:#1BD741;
    color: white;
}
.flex{
    display: flex;
}
.flex.flex-wrap{
    flex-wrap: wrap;
}
@each $v in $justify{
    .flex.justify-content-#{$v}{
        justify-content: $v;
    }
  };
  @each $v in $align_items{
    .flex.align-items-#{$v}{
     align-items: $v;
   }
  }
  @each $v in $wrap{
    .flex.flex-#{$v}{
     flex-wrap: $v;
   }
  }
.show{
    display: block !important;
}
.hide{
    display: none !important;
}

.or{
 @include or($multiplier:0.8)
}
.bg-white{
    background: white;
}
.bg-theme{
    background-color: $theme_color;
    color: white;
}
.text-theme{
    color: $theme_color;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #ffff;

}
.text-accent-1{
    color: #2f455c;
}
.bg-accent-1{
    background-color: #2f455c;
}
.text-star{
    color: #FFC700;
}
.bg-star{
    background: #FFC700;
    color: #fff;
}
.font-l{
    font-family:"Louis George Café", sans-serif;
}
.font-a{
    font-family: 'Anja Eliane',cursive;
}
.fw-reg{
  font-weight: 400;
}
.fw-bold{
    font-weight: 600;
}
// width and height classes
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    @for $i from 1 through 12{
      .col-#{$i}{
          width: math.div($i,12) * 100%;
          padding:$padding * 0.25 $padding * 0.5;
      }
      @include md{
        .col-md-#{$i}{
            width: math.div($i,12) * 100%;
            padding:$padding * 0.25 $padding * 0.5;
        }
      }
      @include sm{
        .col-sm-#{$i}{
            width: math.div($i,12) * 100%;
            padding:$padding * 0.25 $padding * 0.5;
        }
      }
    }
}
.p-relative{
  position: relative;
}
.img-fluid{
    width: 100%;
    object-fit: cover;
}
.w-28{
    width: 28%;
}
.d-block{
    display: block;
}
@for $i from 1 through 20 {
   $value:$i * 5;
   $percent:$value * 1%;
   $vh:$value * 1vh;
   .w-#{$value}{
      width:$percent;
   };
   .mw-#{$value}{
    min-width:$percent;
   };
   .mxw-#{$value}{
    max-width:$percent;
   };
   .vh-#{$value}{
       height: $vh;
   }
   .max-vh-#{$value}{
    max-height: $vh;
   }
   .min-vh-#{$value}{
    min-height: $vh;
   }
}

@include md{
    .text-md-center{
        text-align: center;
    }
    .d-md-block{
        display: block;
    }
    .m-md-auto{
        margin: auto;
    }
    @for $i from 1 through 20 {
        $value:$i * 5;
        $percent:$value * 1%;
        $vh:$value * 1vh;
        .w-md-#{$value}{
           width:$percent;
        };
        .mw-md-#{$value}{
         min-width:$percent;
        };
        .mxw-md-#{$value}{
         max-width:$percent;
        };
        .vh-md-#{$value}{
            height: $vh;
        }
        .max-vh-md-#{$value}{
         max-height: $vh;
        }
        .min-vh-md-#{$value}{
         min-height: $vh;
        }
     }
}

@include sm{
    .text-sm-center{
        text-align: center;
    }
    .d-sm-block{
        display: block;
    }
    .m-sm-auto{
        margin: auto;
    }
    @for $i from 1 through 20 {
        $value:$i * 5;
        $percent:$value * 1%;
        $vh:$value * 1vh;
        .w-sm-#{$value}{
           width:$percent;
        };
        .mw-sm-#{$value}{
         min-width:$percent;
        };
        .mxw-sm-#{$value}{
         max-width:$percent;
        };
        .vh-sm-#{$value}{
            height: $vh;
        }
        .max-vh-sm-#{$value}{
         max-height: $vh;
        }
        .min-vh-sm-#{$value}{
         min-height: $vh;
        }
     }
}
.small-20{
    font-size: 20px;
}
.small-18{
    font-size: 18px;
}
.small-16{
   font-size: 16px;
}
.small-24{
    font-size: 24px;
}
.small-26{
    font-size: 26px;
}
.small-28{
    font-size: 28px;
}
.small-30{
    font-size: 30px;
}
.small-14{
    font-size: 14px;
}
.btn-small{
    border:none;
    margin:1em auto,;
    border-radius:7px;
    padding:0.5em;
    cursor:pointer;
}
.text-disabled{
    color: #8E8E8E;
}
.curved{
    border-radius: 7px;
}
.btn{
    border:none;
    margin:1em auto,;
    border-radius:7px;
    padding:0.8em;
    cursor:pointer;
}
.input-label{
    display: block;
    color: #1E1E1E;
    line-height: 18.75px;
    margin: $margin * 0.5 0;
    font-size: 16px;
}
.input{
    border: 1px solid #8E8E8E;
    padding: $padding * 0.4;
    outline: none;
    resize: none;
}
.input-group{
    display: flex;
    min-height: 35px;
    border: 0.5px solid #888888;
    border-radius: 7px;
    .side{
        outline: none;
        border: none;
        border-radius: 0px;
    }
    .side.side-left{
        margin-left: 10px;
        border-right:  0.5px solid #888888;
    }
    .side.side-right{
        margin-right: 10px;
        border-left:  0.5px solid #888888;
    }
    input{

        border: none;
        background: none;
        outline: none;
        padding: $padding * 0.3;
    }
}

.pointer-cursor{
    cursor: pointer;
}

.m-auto{
    margin: auto;
}
.br{
    border-radius: 7px;
}
.tab-menu{
    margin-top: $margin;
    margin-bottom: $margin;
    min-height: 70vh;
    width: 100%;
    hr{
        margin-top: -2px;
        opacity: 0.3;
    }
    .tabs{
        display: flex;
        align-items: center;
    }

    .tab-item{
        min-width: 20%;
        @extend .text-disabled;
        margin-right: 30px;
        text-align: center;
        transition: all ease-in 0.2s;
        padding-bottom:$padding * 0.35;
        text-transform: uppercase;
        @extend .small-16;
        cursor: pointer;
    }
    .tab-item.active{
        @extend .text-theme;
     
        border-bottom: 3px solid $theme_color
    }
    .tab-content{
       padding: $padding $padding * 0.5;
    }
}
.progress-bar{
    background: #EEEFF1;
    height: 8px;
    border-radius: 7px;
    .progress{
        border-radius: 7px 0px 0px 7px;
        height: 8px;
    }
}