@use 'sass:math';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


html{
    width: fit-content;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: 'Louis George Cafe', sans-serif;
font-size: $font_size;
scroll-behavior: smooth;
}

body {
padding: 0;
margin: 0;
font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
color: inherit;
text-decoration: none;
}
@each $key,$var in $colors {
    .bub-bg-#{$key}{
        background-color: $var !important;
        color: lighten($color: $var, $amount: 50) !important;
    }
    .bub-text-#{$key}{
        color: $var;
    }
}

@each $key,$var in $utils {
    $prefix:map-get($map: $var, $key:"prefix" );
    @for $i from 0 through 5{
     .bub-#{$prefix}-#{$i}{
       #{$key}:$padding * 0.4 * $i;
     }
     @include md(){
        .bub-#{$prefix}-md-#{$i}{
            #{$key}:$padding * 0.4 * $i;
          }
     }
     @include sm(){
        .bub-#{$prefix}-sm-#{$i}{
            #{$key}:$padding * 0.4 * $i;
          }
     }
    }
}
.container{
    padding:$padding*0.7 $padding * 3;
}
.container-small{
    padding:$padding*0.7 $padding * 1.5;
}
.card{
    box-shadow: 0px 10px 20px rgba(214, 214, 214, 0.4);
}
.bg-grey{
    background-color: #8E8E8E;
}
.bub-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    &:focus{
        outline: none;
    }
}
.btn-outline{
    border-width:1px ;
    background: none;
    cursor: pointer;
    outline: none;
    &:focus{
        outline: none;
    }
}
.btn-pill{
    border-radius: 30px !important;
}
.btn-outline-theme{
    @extend .btn-outline;
    border-style: solid;
    padding:0.3em;
    border-color: $theme_color;
}
.pointer{
    cursor: pointer;
}
.bg-fb{
    background-color:#3A559F;
    color: white;
}
.bg-twitter{
    background-color:#50ABF1;
    color: white; 
}
.bg-whatsapp{
    background-color:#1BD741;
    color: white;
}
.flex{
    display: flex;
}
.flex.flex-wrap{
    flex-wrap: wrap;
}
@each $v in $justify{
    .flex.justify-content-#{$v}{
        justify-content: $v;
    }
 };
@each $v in $align_items{
.flex.align-items-#{$v}{
    align-items: $v;
}
  }
  @each $v in $wrap{
    .flex.flex-#{$v}{
     flex-wrap: $v;
   }
}
@each $v in $flexDirection{
    .flex.flex-#{$v}{
     flex-direction: $v;
   }
}
.show{
    display: block !important;
}
.hide{
    display: none !important;
}

.or{
 @include or($multiplier:0.8)
}
.bg-white{
    background: white;
}
.bg-theme{
    background-color: $theme_color;
    color: white;
}
.text-theme{
    color: $theme_color !important;
}
.text-center{
    text-align: center;
}
.text-white{
    color: #ffff;

}
.text-accent-1{
    color: #2f455c;
}
.bg-accent-1{
    background-color: #2f455c;
}
.text-star{
    color: #FFC700;
}
.bg-star{
    background: #FFC700;
    color: #fff;
}
.font-l{
    font-family:"Louis George Café", sans-serif;
}
.font-a{
    font-family: 'Anja Eliane',cursive;
}
.fw-reg{
  font-weight: 400;
}
.fw-bold{
    font-weight: 600;
}
.bub__contain{
    max-width: 1096px;
    margin: auto;
    padding: $padding $padding;
}
// width and height classes
.row{
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    grid-template-columns: repeat(12,1fr);
    @for $i from 1 through 12{
      .col-#{$i}{
          grid-column: span $i;
          padding:$padding * 0.25 $padding * 0.5;
      }
      @include md{
        .col-md-#{$i}{
            grid-column: span $i;
            padding:$padding * 0.25 $padding * 0.5;
        }
      }
      @include sm{
        .col-sm-#{$i}{
            grid-column: span $i;
            padding:$padding * 0.25 $padding * 0.5;
        }
      }
    }
}
.bub-grid{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    gap: 22px;
    @for $i from 1 through 12{
        .grid-col-#{$i}{
            grid-column: span $i;
        }
        @include md{
          .grid-col-md-#{$i}{
            grid-column: span $i;
          }
        }
        @include sm{
          .grid-col-sm-#{$i}{
            grid-column: span $i;
          }
        }
      }
    @include md{
        gap: 12px;
    }
}
.bub-grid.bub-grid-center{
    align-items: center;
}
.p-relative{
  position: relative;
}
.img-fluid{
    width: 100%;
    object-fit: cover;
}
.w-28{
    width: 28%;
}
.d-block{
    display: block;
}
.err-text{
    @extend .bub-text-red;
}
@for $i from 1 through 20 {
   $value:$i * 5;
   $percent:$value * 1%;
   $vh:$value * 1vh;
   .w-#{$value}{
      width:$percent;
   };
   .mw-#{$value}{
    min-width:$percent;
   };
   .mxw-#{$value}{
    max-width:$percent;
   };
   .vh-#{$value}{
       height: $vh;
   }
   .max-vh-#{$value}{
    max-height: $vh;
   }
   .min-vh-#{$value}{
    min-height: $vh;
   }
}

@include md{
    .text-md-center{
        text-align: center;
    }
    .d-md-block{
        display: block;
    }
    .m-md-auto{
        margin: auto;
    }
    @for $i from 1 through 20 {
        $value:$i * 5;
        $percent:$value * 1%;
        $vh:$value * 1vh;
        .w-md-#{$value}{
           width:$percent;
        };
        .mw-md-#{$value}{
         min-width:$percent;
        };
        .mxw-md-#{$value}{
         max-width:$percent;
        };
        .vh-md-#{$value}{
            height: $vh;
        }
        .max-vh-md-#{$value}{
         max-height: $vh;
        }
        .min-vh-md-#{$value}{
         min-height: $vh;
        }
     }
}

@include sm{
    .text-sm-center{
        text-align: center;
    }
    .d-sm-block{
        display: block;
    }
    .m-sm-auto{
        margin: auto;
    }
    @for $i from 1 through 20 {
        $value:$i * 5;
        $percent:$value * 1%;
        $vh:$value * 1vh;
        .w-sm-#{$value}{
           width:$percent;
        };
        .mw-sm-#{$value}{
         min-width:$percent;
        };
        .mxw-sm-#{$value}{
         max-width:$percent;
        };
        .vh-sm-#{$value}{
            height: $vh;
        }
        .max-vh-sm-#{$value}{
         max-height: $vh;
        }
        .min-vh-sm-#{$value}{
         min-height: $vh;
        }
     }
}

@for $i from 10 through 40{
    .small-#{$i}{
        font-size: $i * 1px;
    }
    @include md{
     .small-md-#{$i}{
           font-size: $i * 1px !important;
     }  
    }
    @include sm{
     .small-sm-#{$i}{
        font-size: $i * 1px !important;
     }
    }
}
@each $k, $v in $casing{
    .bub-case-#{$k}{
        text-transform: $v;
    }
}
.error-field{
    border: 0.8px solid #EB1D36 !important;
}
.error-text{
    color: #EB1D36 !important;
}

.btn-smaller{
    @include btn;
    padding:0.3em;
}
.btn-small{
   @include btn;
   padding:0.5em;
   outline: none !important;
}
.text-disabled{
    color: #8E8E8E;
}
.curved{
    border-radius: 7px;
}
.btn{
    @include btn;
    padding:0.8em;
}
.text-right{
    text-align: right;
}
.input-label{
    display: block;
    color: #1E1E1E;
    line-height: 18.75px;
    margin: $margin * 0.5 0;
    font-size: 16px;
}
.input{
    border: 1px solid #8E8E8E;
    padding: $padding * 0.4;
    outline: none;
    resize: none;
    border-radius: 7px;
}
.input-group{
    display: flex;
    min-height: 35px;
    border: 0.5px solid #e9e9e9;
    border-radius: 7px;
    align-items: center;
    .side{
        outline: none;
        border: none;
        border-radius: 0px;
    }
    .side.side-left{
        margin-left: 10px;
        border-right:  0.5px solid #888888;
    }
    .side.side-right{
        margin-right: 10px;
        border-left:  0.5px solid #888888;
    }
    .side.right-actions{
        margin-left: auto;
        cursor: pointer;
    }
    .side.left-actions{
        margin-right: auto;
        cursor: pointer;
    }
    input,select{
        border: none;
        background: none;
        outline: none;
        padding: $padding * 0.3;
    }
}

.pointer-cursor{
    cursor: pointer;
}

.m-auto{
    margin: auto;
}
.br{
    border-radius: 7px;
}
.tab-menu{
    margin-top: $margin;
    margin-bottom: $margin;
    min-height: 70vh;
    width: 100%;
    hr{
        margin-top: -2px;
        opacity: 0.3;
    }
    .tabs{
        display: flex;
        align-items: center;
    }

    .tab-item{
        min-width: 20%;
        @extend .text-disabled;
        margin-right: 30px;
        text-align: center;
        transition: all ease-in 0.2s;
        padding-bottom:$padding * 0.35;
        text-transform: uppercase;
        @extend .small-16;
        cursor: pointer;
    }
    .tab-item.active{
        @extend .text-theme;
     
        border-bottom: 3px solid $theme_color
    }
    .tab-content{
       padding: $padding $padding * 0.5;
    }
}
.progress-bar{
    background: #EEEFF1;
    height: 8px;
    border-radius: 7px;
    .progress{
        border-radius: 7px 0px 0px 7px;
        height: 8px;
    }
}
.bg-light-grey{
    background: #FAFAFA;
}
hr{
    opacity: 0.2;
}

.bub__sort-widget{
    border: 1px solid #8E8E8E;
    border-radius: 7px;
    padding: 0.3em;
    position: relative;
    .text{
        position: absolute;
        top: -10px;
        left: 20px;
        background-color: #fff;
        font-size: 14px;
        font-weight: 600;
    }
    select{
        width: 97%;
        border: none;
        outline: none;
    }
}
.bub-case-capital{
    text-transform: capitalize;
}
 @include md{
    .d-md-none{
        display: none!important;
    }
 }
 .animate-fade{
    animation-name: fade;
    animation-duration: 1s;
 }
 @keyframes fade {
    from{opacity: 0;}
    to{opacity: 1;}
 }
 
 ant-carousel .slick-dots li.slick-active button{
   background: #1DCEFD !important;
   opacity: 1;
 }
 ant-carousel .slick-dots li button{
    height: 12px;
    width: 12px;
    border: 1px solid #1DCEFD;
    border-radius: 1000px;
 }